.my-projects{
    height: 90vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    color: rgb(202, 202, 202);
    background-color: #22252c;
    padding-top: 100px;
    padding-bottom: 100px;
}

.my-projects h2{
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

.website-thumbnail{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.website-thumbnail img{
    width: 350px;
    filter: grayscale(100%);
    margin-left: auto;
    margin-right: auto;
}

.netflix, .guessthequotes, .frenchcuts, .grandspirit{
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    width: 400px;
    height: 230px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(202, 202, 202);
}

.link p{
    margin: 0;
    white-space: nowrap;
}

.stack{
    font-size: small;
    color: rgb(167, 167, 167);;
}

.website-thumbnail a:hover > img{
    filter: grayscale(0%);
}

@media (max-width: 576px){

    .my-projects{
        height: auto;
    }

    .my-projects h2{
        margin-bottom: 50px;
        padding: 0px 20px;
        text-align: left;
    }

    .website-thumbnail img{
        width: 250px;
        filter: grayscale(100%);
        margin-left: auto;
        margin-right: auto;
    }

    .website-thumbnail{
        width: auto;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .link{
        width: auto;
        height: auto;
        margin: 0px 20px;
    }
}