.quiz-modal{
    position: absolute;
    display: none;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}