.left-side{
    margin-top: 100px;
    width: 20%;
    height: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

.photo{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.social-medias-centered{
    display: flex;
    justify-content: center;
}

.social-medias{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.github, .linkedin, .malt, .facebook{
    width: 24px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 576px){

    .left-side{
        width: auto;
        height: auto;
        text-align: left;
        padding: 0px 20px;
    }

    .social-medias-centered{
        display: flex;
        justify-content: flex-start;
    }

    .social-medias{
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
    
}
