.right-side{
    width: 60%;
    margin-top: 100px;
    height: 500px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.diplomas, .jobs{
    margin-top: 40px;
}

@media (max-width: 576px){

    .right-side{
        width: auto;
        text-align: left;
        padding: 0px 20px;
    }    
}


